modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["iputils", "python311", "sshpass"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0"]

[userenv]

[userenv.development]
ADMIN_PORT = "5001"

[userenv.shared]
PROD_DIAGNOSTICS_TOKEN = "H7aP2vN9kX5mQ1zR8LwY4jT0uB6nG3pS1eM7dK4qV9fH2rZ5xW8"
PROD_DIAGNOSTICS_BYPASS_KEY = "x:67ame[yWU2t6X.8(89egDgYGfO-sTkc}bsW0X*,qkkcJUA{i@}=G=X\"GRkqc/\"yE?+uk3gqaj13@"
PROD_BASE_URL = "https://linkmonitor.marvitel.com.br"
